.registration-form{

  height: auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registration-form-fields{
  width: 100%;
  min-width: 150px;
  max-width: 500px;
}

.box-login{
  display: flex;
  flex-direction: column;
  justify-content: center !important;
}


.example-full-width {
  width: 100%;
  display: inline-flex;
  align-items: center;


}
