TERM_PROGRAM=Apple_Terminal
SHELL=/bin/zsh
TERM=xterm-256color
TMPDIR=/var/folders/44/x2k10nv103s2_jw1_jbzj5g80000gn/T/
TERM_PROGRAM_VERSION=452
TERM_SESSION_ID=F689432C-373D-4889-84A8-C3D133EB20F9
USER=acharrik
SSH_AUTH_SOCK=/private/tmp/com.apple.launchd.66fbMtrrct/Listeners
PATH=/Users/acharrik/.nvm/versions/node/v20.10.0/bin:/opt/homebrew/opt/mysql-client/bin:/opt/homebrew/bin:/opt/homebrew/sbin:/usr/local/bin:/System/Cryptexes/App/usr/bin:/usr/bin:/bin:/usr/sbin:/sbin:/var/run/com.apple.security.cryptexd/codex.system/bootstrap/usr/local/bin:/var/run/com.apple.security.cryptexd/codex.system/bootstrap/usr/bin:/var/run/com.apple.security.cryptexd/codex.system/bootstrap/usr/appleinternal/bin
LaunchInstanceID=FD345A1B-7A36-4EDB-B327-64FC838A754D
__CFBundleIdentifier=com.apple.Terminal
PWD=/Users/acharrik/Desktop/api projects/TodoListApp/parent-project-todolist/todolist-api-backend
XPC_FLAGS=0x0
XPC_SERVICE_NAME=0
SHLVL=1
HOME=/Users/acharrik
LOGNAME=acharrik
SECURITYSESSIONID=186b5
OLDPWD=/Users/acharrik/Desktop/api projects/TodoListApp/parent-project-todolist/todolist-api-backend
HOMEBREW_PREFIX=/opt/homebrew
HOMEBREW_CELLAR=/opt/homebrew/Cellar
HOMEBREW_REPOSITORY=/opt/homebrew
MANPATH=/Users/acharrik/.nvm/versions/node/v20.10.0/share/man:/opt/homebrew/share/man::
INFOPATH=/opt/homebrew/share/info:
ZSH=/Users/acharrik/.oh-my-zsh
PAGER=less
LESS=-R
LSCOLORS=Gxfxcxdxbxegedabagacad
LS_COLORS=di=1;36:ln=35:so=32:pi=33:ex=31:bd=34;46:cd=34;43:su=30;41:sg=30;46:tw=30;42:ow=30;43
NVM_DIR=/Users/acharrik/.nvm
NVM_CD_FLAGS=-q
NVM_BIN=/Users/acharrik/.nvm/versions/node/v20.10.0/bin
NVM_INC=/Users/acharrik/.nvm/versions/node/v20.10.0/include/node
LC_CTYPE=UTF-8
_=/usr/bin/printenv